header{
	min-width: 768px;
	text-align: left;
}

h1{
	margin: 60px 0 0 2.7%;
}

.main-header{
	margin: 0 3px 0 0;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.main-menu{
	margin: 23px 0 0 2%;
}

.main-menu__item{
	position: relative;
	padding: 0 0 0 4px;
	text-shadow: none;
}

.main-menu__hidden{
	display: block;
	margin: 0 auto;
	width: 780px;
	top: -6px;
	left: 4px;
	background: none;
	border: none;
}

.main-menu__hidden-item{
	display: inline-block;
	margin: 0 6.16% 0 0;
	width: auto;
	text-shadow: none;
}

.main-menu__hidden-link{
	display: block;
	text-decoration: none;
	border: none;
	color: white;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.main-menu__hidden-link--top{
	padding: 0 0 0 0;
}

.main-menu__hidden-link:hover{
	background: none;
}

.main-menu__hidden-link--top:after{
	content: " ";
	display: none;
}

.main-menu__hidden-link:hover:after{
	content: " ";
	display: none;
}

.slider-wrapper{
	margin: 48px auto 0;
	min-width: 768px;
}

.slider{
	background: url(../img/slider_bg768.png) repeat-x;
	background-position: left 23px;
}

.slider__arrow-left{
	padding: 196px 0 0 0;
}

.slider__arrow-right{
	padding: 199px 0 0 0;
}

.slider__content_wrapper{
	padding: 0 0 0 11px;
	width: 728px;
}

.slider__content{
	padding: 115px 117px 0 0;
	width: 282px;
}

.slider__header{
	font-size: 48px;
	letter-spacing: -0.3px;
}

.slider__underheader{
	font-size: 24px;
	line-height: 31px;
}

.slider__text{
	display: block;
	height: 105px;
	overflow: hidden;
	font-family: 'Open Sans', Arial, Tahoma, sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
	letter-spacing: -0.05px;
	color: white;
}

.slider__text:first-line{
	line-height: 32px;
}

.iphone{
	width: 274px;
	height: 434px;
	background: url(../img/iphone768.png);
}

.switch-slider{
	top: 0px;
	left: 201px;
	margin: 22px auto 96px;
}

.underwrapper-violet{
	min-width: 768px;
}

.about_company{
	display: inline-block;
	margin: 75px 0 59px 37px;
	width: 27.5%;
	border-spacing: 0px 0px;
}

.about_company--top{
	margin: 75px 0 59px 26px;
}

.about_company--bottom{
	margin: 75px 0 59px 46px;
}

.about_company__header{
	padding: 0 0 0 26px;
}

.about_company__text{
	padding: 0 0 0 26px;
	height: 149px;
}

.about_company__link{
	margin: 0 8px 0 0;
}

.wrapper-light{
	padding: 100px 0 0 0;
}

.underwrapper-light{
	min-width: 768px;
}

.wrapper-from_blog{
	float: left;
	width: 43.8%;
}

.from_blog{
	padding: 29px 20px 23px 38px;
}

.from_blog__header{
	display: block;
	font-size: 24px;
}

.from_blog__text{
	margin: 8px 0 0 0;
	height: 145px;
	letter-spacing: -0.4px;
}

.from_blog__switch{
	left: 13px;
}

.news{
	margin: 0 auto;
	padding: 11px 0 75px 0;
	width: 373px;
}

.news__link_more{
	margin: -2px 17px 0px 0;
}

.logos-wrapper{
	padding: 0;
	min-width: 768px;
	height: 120px;
}

.logo{
	margin: 0;
}

.prefooter-wrapper{
	padding: 98px 0 0 0;
	min-width: 768px;
	height: 298px;
}

.prefooter__text_block{
	float: left;
	margin: 0 4.5% 0 2.5%;
	width: 27%;
	height: 205px;
}

.prefooter__text_block--central{
	margin: 0 0 0 3.2%;
}

.prefooter__text_block--bottom{
	margin: 0 0 0 7.2%;
}

.footer-wrapper{
	min-width: 768px;
	text-align: left;
}

.footer-menu__item{
	margin: 0 2.6% 0 2.5%;
}

.footer__text{
	float: right;
	margin: 0 11px 0 0;
}